<div class="jumbotron center">
    <h1>Welcome to my app!</h1>
    <% if user_signed_in? %>
     # do somthing
    <% else %>
    <p>
    <%= link_to "login", new_user_session_path, class: "btn btn-primary btn-lg" %> 
    <%= link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    </p>
    <% end %>
</div>
